.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent;
}

.navbar-brand{
  height: 55px;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer {
	margin-top: 40px;
	color: #000000;
  background-color: #F8F8F8;
  padding: 20px 0 15px 0;
  font-size: 16px;
  width: auto;
}

body {
  background-color: #F8F8F8;
}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tabs-left {
  margin-top: 3rem;
}

.nav-tabs {
  float: left;
  border-bottom: 0;
}
.nav-tabs li {
  float: none;
  margin: 0;
}
.nav-tabs li a {
  margin-right: 0;
  border: 0;
  background-color: #333;
}
.nav-tabs li a:hover {
  background-color: #444;
}
.nav-tabs .fa {
  color: #fff;
}
.nav-tabs .active .fa {
  color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
}

.tab-content {
  margin-left: 45px;
}
.tab-content .tab-pane {
  display: none;
  background-color: #fff;
  padding: 1.6rem;
  overflow-y: auto;
}
.tab-content .active {
  display: block;
}

label.tab-description {
	padding: 0 0 0 10px;
}

#ima1{
	align-content: center;
	height: 100%;
	width: 35%;
}

.navbar-brand{
  padding: 15px;
}

.tab-pane img {
  max-width: 150px;
  float: left;
  margin: 0 15px 0 0;
}